<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Parametrized test Suite" verbose="1">
    <test name="Parametrized Test">
        <parameter name="currencyParam" value="USD" />
        <parameter name="productParam" value="MacBook" />
        <parameter name="priceParam" value="$602.00" />
        <classes>
            <class name="scripts.AddToCart"/>
        </classes>
    </test>
</suite>